# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Env files
.env
.env.*

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Database dumps / local DB files
*.sqlite3
*.db
